<!-- Navigation -->
<%- include header %>

<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('img/about-bg.jpg')">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<div class="page-heading">
					<h1>About Me</h1>
					<!--<hr class="small">-->
					<span class="subheading">这是我，以及我的经历。</span>
				</div>
			</div>
		</div>
	</div>
</header>

<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			<p>
				叶明，英文名：OLIVER YE
				<br />
				<br />
				是个程序员
				<br />
				<br />
				喜欢自由，喜欢一切美好的事物。
				<br />
				<br />
				联系方式见下方。
			</p>
		</div>
	</div>
</div>

<hr>

<!-- Footer -->
<%- include footer %>
