<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Blog</title>
<!--<link rel="stylesheet" href="/stylesheets/style.css">-->
<link href="stylesheets/bootstrap.min.css" rel="stylesheet">
<!-- Custom CSS -->
<link href="stylesheets/clean-blog.min.css" rel="stylesheet">      
<!-- Custom Fonts -->
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<!-- Bootstrap Core JavaScript -->
<script src="lib/bootstrap/bootstrap.min.js"></script>
<!-- Custom Theme JavaScript -->
<script src="lib/clean-blog/clean-blog.min.js"></script>
<title><%= title %></title>
</head>
<body>

<!--<header>
<h1><%= title %></h1>
</header>-->
<div>
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class = "container-fluid">
    <div class = "collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class = "nav navbar-nav navbar-right">
        <li><a href="/">HOME</a></li>
        <li><a href="/about">ABOUT</a></li>
<% if (user) { %>
        <!--<li><a href="/upload">上传</a></li>
        <li><a href="/post">POST</a></li>
        <li><a href="/logout">LOGOUT</a></li>
        <li><a href = "/archive">归档</a></li>
        <li><a href="/tag">标签</a></li>-->
<% } else { %>
        <!--<li><a href="/login">LOGIN</a></li>
        <li><a href="/reg">SIGNUP</a></li> -->
<% } %>
<!--
<form action="/search" method="GET">
<input type="text" name="keyword" placeholder="SEARCH" class="search" />
</form>
-->
    </ul>
    </div>
    </div>
</nav>
<% if (success) { %>
        <div><p class="bg-success"<%= success %></p></div>
    <% } %>
    <% if (error) { %>
    <div><p class = "bg-danger"><%= error %></p> </div>
    <% } %>
</div>

