<%- include header %>
<header class="intro-header" style="background-image: url('img/home-bg.jpg')">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<div class="site-heading">
					<h1>Welcome</h1>
					<!--<hr class="small">-->
					<span class="subheading">做，并且坚持着</span>
				</div>
			</div>
		</div>
	</div>
</header>
<div class = "container">
<div class = "row">
<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
<form method="post">
  标题：<br />
  <input type="text" name="title" /><br />
  副标题：<br />
  <input type = "text" name = "subtitle" /><br/>
  标签：<br/>
  <input type = "text" name = "tag1" /><input type = "text" name = "tag2" />
  <input type = "text" name = "tag3" /> <br/>
  正文：<br />
  <textarea name="post" rows="20" cols="100"></textarea><br />
  <input type="submit" value="发表" />
</form>
</div>
</div>
</div>
<%- include footer %>
