<%- include header %>
<header class="intro-header" style="background-image: url('img/home-bg.jpg')">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<div class="site-heading">
					<h1>Welcome</h1>
					<!--<hr class="small">-->
					<span class="subheading">做，并且坚持着</span>
				</div>
			</div>
		</div>
	</div>
</header>
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

<form method="post">
  用户名：  <input type="text" name="name"/><br />
  密码：    <input type="password" name="password"/><br />
  确认密码：<input type="password" name="password-repeat"/><br />
  邮箱：    <input type="email" name="email"/><br />
           <input type="submit" value="注册"/>
</form>
</div></div></div>
<%- include footer %>